<% if @owner %>
  <% if @rescues.count == 0 %>
    <h4> Looks like you don't have any rescues yet!</h4>
  <% else %>
    <h4> Your Rescues </h4>
  <% end %>
<% else %>
  <h4> Success Stories <h4>
<% end %>


  <ul>
    <% @rescues.each do |r| %>
      <%= link_to(owner_rescue_path(r.owner_id, r)) do %>
      <li> <%= r.owner.name %> & <%= r.pet.name %></li>
      <%end%>
    <% end %>
  </ul>



Click 'Find Pets' to browse pets that need rescuing
