<h1> The pets that need your help the most! </h1>
<br>
<h4>The below pets are either in kill shelters or are adults (5 years or older) and therefore have a low probability of adoption.</h4>
<br>
<% @pets.each do |pet| %>
  <%= image_tag pet.image.url(:thumb) %>
  <%= link_to pet.name, pet_path(pet) %>
  <br>
<% end %>
