<h4> The pets that need your help the most! </h4>
<br>
<h6>The below pets are either in kill shelters or are adults (5 years or older) and therefore have a low probability of adoption.</h6>
<br>
<% @pets.each do |pet| %>
  <%= link_to pet_path(pet) do %> <%= image_tag pet.image.url(:thumb) %> <%end%>
  <%= link_to pet.name, pet_path(pet) %>
  <br>
<% end %>
