<h1> Check out all our pets! </h1>
<!-- add filters, location/high risk(scope)/dog or cat -->

<% @pets.each do |pet| %>
  <%= image_tag pet.image.url(:thumb) %>
  <%= link_to pet.name, pet_path(pet) %>
  <br>
<% end %>
